.nav {
  .nav__ul {
    color: #820b8a;
    text-decoration: none;
    list-style-type: none;
    list-style-position: inside;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #460642;
    width: 100%;
  }
}
.header{
    display: flex;
    flex-direction: row;
    .header__h1{
        color: #006989;
        font-family: "Ubuntu", sans-serif;
        letter-spacing: 5px;
        word-spacing: normal;
        margin: 10px;
        border: solid;
        width: 70%;
        font-size: 400%;

    }
    .header__img{
        display: flex;
        width: 30%;
    }
}
h4{
  color: #460642;
  font-size: 40px;
}